<div class="ui buttons">
	<%= link_to area_search_path, class: 'ui basic blue button' do %>
		<i class="marker icon"></i>
		エリア
	<% end %>
	<%= link_to work_search_path, class: 'ui basic grey button' do %>
		<i class="laptop icon"></i>
		作業できる
	<% end %>
	<%= link_to rating_search_path, class: 'ui basic pink button' do %>
		<i class="empty heart icon"></i>
		評価
	<% end %>
</div>
