<% provide(:shop_button_text, '店をを公開する') %>
<% provide(:district_button_text, 'エリアを作成する') %>

<h4>管理ページ</h4>

<div class="ui equal width stackable grid container" id="shop-index-container">
	<div class="four wide column">
		<%= render partial: 'districts/form' %>
	</div>
	<div class="six wide column">
		<h3 class="left aligned">公開されていないお店</h3>	
		<% @unapproved_shops.each do |shop| %>
			<div class="left aligned">
				<h4 style="margin: 1em 1em"><%= shop.japanese_name %> (<%= time_ago_in_words(shop.created_at) %>前に登録された)</h4>
			</div>
			<%= render partial: 'shops/form', locals: { shop: shop } %>
		<% end %>
	</div>
</div>

<style>
</style>


