<div class="ui container" style="text-align: left">
	<% @districts.each do |d| %>
		<button class="ui basic grey button district-button">
			<%= d.japanese_name %>
		</button>
	<% end %>
</div>

<style>
	.district-button {
		margin-bottom: 5px !important;
	}
</style>
