<div class="ui container" style="text-align: left">
	<h4 class="ui header">
		作業検索
	</h4>
	<%= render partial: 'static_pages/work_search_form', 
		locals: { shop_filter: @shop_filter, facilities: @facilities } %>
</div>
