<div class="item">
	<div class="image">
		<%= image_tag shop.photos.first.link unless shop.photos.first.nil? %>
	</div>
	<div class="content">
		<%= link_to shop.japanese_name, shop, class: "header" %>
		<div class="meta">
		</div>
		<div class="description">
			<p><%= shop.description %></p>
		</div>
		<div class="extra">
			<i class="wifi icon"></i>
			<i class="pause circle outline icon"></i>
			<i class="volume down icon"></i>
			<i class="food icon"></i>
			<i class="coffee icon"></i>
		</div>
		<div class="right extra">
			<i class="instagram icon"></i>
			<i class="facebook icon"></i>
			<i class="snapchat icon"></i>
		</div>
	</div>
	<%# if current_user.present? && current_user.admin? %>
	<%#= link_to 'delete', shop, method: :delete, data: { confirm: 'Are you sure?' } %>
	<%# end %>
</div>
