<% if @shop.errors.any? %>
  This form contains <%= pluralize(@shop.errors.count, "error") %>.
  <ul>
    <% @shop.errors.full_messages.each do |error| %>
      <li class="error message">
        <%= error %>
      </li>
    <% end %>
  </ul>
<% end %>
