<% if object.errors.any? %>
  This form contains <%= pluralize(object.errors.count, "error") %>.
  <ul>
    <% object.errors.full_messages.each do |error| %>
      <li class="error message">
        <%= error %>
      </li>
    <% end %>
  </ul>
<% end %>
