<%= form_for [shop, review], html: { class: 'ui form' } do |f| %>
	<div class="field">
		<%= f.label :comment, "新しいレビュー" %>
		<%= f.text_area :comment %>
	</div>

	<%= f.submit yield(:button_text), class: 'ui right floated basic submit button' %>
<% end %>
