<div class="event">
	<div class="content">
		<div class="summary">
			<a class="user" href="#">
				<%= review.user.email %>
			</a> レビューを投稿しました。
			<div class="date">
				<%= review.created_at.to_date.to_formatted_s(:rfc822) %>
			</div>
		</div>
		<div class="extra text" id="review_<%= review.id %>_comment">
			<%= review.comment %>
		</div>
		<div class="meta">
			<!-- likes or whatever? -->
		</div>
	</div>
</div>
