<% provide(:button_text, 'Update Review') %>
<h4>Edit Review</h4>

<%= render partial: 'form', locals: { review: @review, shop: @shop } %>

<%= @review.id %> - <%= @review.comment %>

By <%= @review.user.email %>

