<div class="ui text menu">
	<div class="ui container">
		<div class="brand header item">
			<div class="header text">
				Tokyo Coffee
			</div>
		</div>

		<div class="right menu">
			<% if current_user %>
				<%= link_to destroy_user_session_path, method: :delete, class: 'item' do %>
					<i class="inverted bordered sign out icon"></i>
				<% end %>
			<% else %>
				<%= link_to new_user_session_path, class: 'item' do %>
					<i class="inverted bordered user icon"></i>
				<% end %>
			<% end %>

			<%= link_to '#', class: 'item' do %>
				<i class="inverted bordered sidebar icon"></i>
			<% end %>
		</div>
	</div>
</div>

<style>
.header.text {
	background: rgba(0, 0, 0, 0.6);
	color: white;
	font-size: 1.6em;
	padding: 5px;
	border-radius: 2px;
}
</style>
